# FIT5196 Task 2 in Assessment 2
#### Student Name: Boyu Zhang
#### Student ID: 28491300

Date: XX/XX/XXXX

Version: 1.0

Environment: Python 3.6 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment here, e.g.,:
* pandas (for dataframe, included in Anaconda Python ) 
* re (for regular expression, included in Anaconda Python 3.6) 
* numpy (for numpy array, included in Anaconda Python 3.6)
* jellyfish (for vairous string similarity matching, obtained by `pip install jellyfish`

## 1.  Import libraries

In [45]:
# Code to import libraries as you need in this assessment, e.g.,
import numpy as np
import pandas as pd
import re
import jellyfish

## 2. Load datasets and exploration

In [46]:
df2 = pd.read_csv('./Input/dataset2_integration.csv')
df1 = pd.read_csv('./dataset1_solution.csv')

In [47]:
df1.columns

Index(['Id', 'Title', 'Location', 'ContractType', 'ContractTime', 'Company',
       'Category', 'Salary per annum', 'SourceName', 'OpenDate', 'CloseDate'],
      dtype='object')

In [48]:
df2.columns

Index(['Id', 'Source Name', 'Title', 'location', 'Contract Type',
       'Contract Time', 'Company', 'Category', 'Salary per month', 'OpenDate',
       'CloseDate'],
      dtype='object')

It seems there are two schema level conflicst between the two datasets:
1. There are attributes with same semantics that are not aligned
2. The `Salary` column is inconsistent

## 3. Integrate Datasets

## 3.1 Resolve schema conflicts

First we realign the order of columns in dataset2 and change the unit of `Salary` column

In [49]:
#unify unit of salary and re-align columns by adjusting schema of dataset2
new_salary = df2['Salary per month'].astype(int)*12
df2.drop(columns='Salary per month',inplace=True)
df2.insert(loc=8,column='Salary per annum',value=new_salary)
source = df2['Source Name'] 
df2.drop(columns='Source Name',inplace=True)
df2.insert(loc=8,column='SourceName',value=source)
df2.rename(columns={'location':'Location','Contract Type':'ContractType','Contract Time':'ContractTime'},inplace=True)

Concatenate the two dataset

In [50]:
df = pd.concat([df1,df2])

## 3.2 Resolve data conflicts

## 4. Summary
Give a short summary of your work done above, such as your findings.

## Potential integration issue at first glance:
- Different representation of `Contract Type` ad `Contract Time` in dataset1 and dataset2
- Different unit for `Salary`
- duplicated records(can be solved only when all format and units are uniformed first)