# FIT5196 Task 1 in Assessment 2
#### Student Name: Boyu Zhang
#### Student ID: 28491300

Date: XX/XX/XXXX

Version: 1.0

Environment: Python 3.6 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment here, e.g.,:
* pandas (for dataframe, included in Anaconda Python ) 
* re (for regular expression, included in Anaconda Python 3.6) 
* numpy (for numpy array, included in Anaconda Python 3.6)

## 1.  Import libraries

In [1]:
# Code to import libraries as you need in this assessment, e.g.,
import pandas as pd
import numpy as np
import re

## 2. Load data and exploration

In [2]:
df1 = pd.read_csv('./Input/dataset1_with_error.csv')

In [3]:
#overview of the dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

In [4]:
df1.describe(include=['O'])

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,Manager Risk Regulatory,UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

In [5]:
#number of missing values in each column
df1.isnull().sum()

Id                     0
Title                  0
Location               0
ContractType           0
ContractTime           0
Company             3835
Category               0
Salary per annum       0
SourceName             0
OpenDate               0
CloseDate              0
dtype: int64

### Highlight of initial investigation
- There are 9 columns of categorical values, and 2 column of numeric values -- `Id` and `Salary`
- There are a lot of missing values in the `Company` column
- There must be issue with the column `Title` since the most frequent value is like "** *Ton**"which is obviously invalid
- The most frequent value of `Location` is "UK" which suspicious
- There are potential semantic anomalies :
    - unique values can have redundance
    - The violation of two Date
- There can be sytax anomalies:
     - inconistent representation of values in the same column
     - invalid value of categorical values

In [6]:
#first glance of the dataset
df1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

In [7]:
df1.iloc[3].Title

'Engineering Systems Analyst / Mathematical Modeller'

## 3. Identify issues and fix

### ID
For the column `ID` we don't have any constraints other than non-redundance. Thus we only check whether all **IDs** is unique.

In [8]:
#test if all Id 
df1.Id.unique().shape[0] == df1.shape[0]

True

### Title
- It's reasonable no matter there are redundant tiltles or not.
- The values should be in valid language

In [9]:
#test whethere there is redundant titles
df1.Title.unique().shape

(25077,)

In [10]:
df1.Title.value_counts()

Manager  Risk Regulatory                                                 1
Senior Project Engineer                                                  1
Payroll Team Manager                                                     1
RMN Nights Darlington ****K                                              1
Senior / Design Manager  Acute Healthcare                                1
Sales Team Leader  New Homes                                             1
CCTV Area Sales Midlands                                                 1
Service Desk  Project CoOrdinator                                        1
Head Chef  new classic pub restaurant near Wilmslow                      1
Exhibition Sales Executive                                               1
Accounts Receivable Coordinator                                          1
Assistant General Manager  Thriving Latin Restaurant  Liverpool ****k    1
Catering Supervisor  **** Per Annum  Wednesday,Thursday & Friday         1
Technical Design Consultant                                              1
Windows 7 Helpdesk/Desktop Support                                       1
Dental : Dentistry Practice Sale in Nottingham                           1
Deputy MD B2B aviation                                                   1
Mobile Maintenance Engineer                                              1
AV VENUE TECHNICIAN                                                      1
Switch Support Engineer  VOIP/TDM  Manchester                            1
EMail Marketing Executive  Travel Sector                                 1
International Account Manager Stoke on Trent                             1
Assessor  Health and Social Care                                         1
Mathematics Teacher                                                      1
Web Developer  CSS, HTML                                                 1
B2B Territory Account Manager / Field Sales Exec (Home Based)            1
Risk Analyst  analysis and modelling                                     1
Development Technical Lead/Project Manager – global research business    1
Net Systems Developer                                                    1
Assistant Manager  Longford House  Beefeater Grill  Cannock              1
                                                                        ..
HEAD CHEF FOR GASTRO DINING ROOM  LONDON  **** BASE  BONUSES  SHARES     1
Senior Staff Nurse  Surgical Ward  Oxford                                1
Project / Planning Coordinator                                           1
Trainee IT Technical Support Advisor  1st line IT support                1
SEN Teaching Assistant Level 2  Bolton                                   1
Chef de Partie  High Quality Hotel  Brasserie Style Cooking  Tips        1
Care Home Manager York                                                   1
Customer Delivery Manager Financial sector                               1
Floor Service Person job London                                          1
Electronic Field Service Engineer (Medical Diagnostic Systems)           1
International Field Service Engineer                                     1
Mechanical Engineering Graduate  Design Engineer                         1
Calling all WAITING STAFF in IPSWICH  do the shifts that suit            1
Vice President  Banking Regulatory Review Challenge                      1
DevOps Engineer  Windows, IIS, SAN                                       1
Sales Negotiator & Lettings Negotiator  Estate Agent                     1
Sales Executive  Telesales  **** OTE  London                             1
Microsoft Analyst Programmer / Developer VB6/ASP/C/VBNet/SQL Server      1
Nurse Assessor                                                           1
Digital Marketing Coordinator  Leading Manufacturing Business            1
Senior Finance Assistant                                                 1
School Crossing Patroller Jobs In Scotland                               1
Finance & Office Adminitrator                                            1
Software Engineer, C, C++, RTOS, Linux, Cambridge                        1
Handyman (CRB required)                                                  1
Reception Supervisor/Reception Teamleader                                1
Special Needs Primary Teacher for an Independent School                  1
Fibre Laser Physicists / Engineers (Graduate to Senior)                  1
Business Development Manager On Line                                     1
Management Accountant Music Live Events / Entertainment  ****K           1
Name: Title, Length: 25077, dtype: int64

- It appears there are values that contain invalid characters in the `Title` column 
- It seems some titles also contains the company name or location which could be improved for clearity of data

In [11]:
df1[df1.Title=='**** Ton']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
24644,69193100,**** Ton,Rugby,full_time,permanent,Interaction Recruitment plc,Engineering Jobs,13440,fish4.co.uk,20130815T120000,20131113T120000

In [12]:
df1[df1.Title=='Electronics Engineer, Embedded Software, R D, York, ****']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
2987,65102296,"Electronics Engineer, Embedded Software, R D, ...",North Yorkshire,full_time,permanent,Amrec,Engineering Jobs,37500,thecareerengineer.com,20130926T120000,20131225T120000

In [13]:
df1[df1.Title=='Assistant Manager  South West London Gastro Pub  ****K']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
18230,68706648,Assistant Manager South West London Gastro Pu...,London,not available,not available,Cherryred Recruitment,Hospitality & Catering Jobs,22500,jobs.catererandhotelkeeper.com,20130702T000000,20130831T000000

#### Temporary conclusions:
- After inspecting some records that contains invalid character, there seems no clues how to replace with meaningful values. Thus we think it is better to keep these invalid character, since R****** still tell the length of the word but 'R' will not

### Location

In [14]:
df1[df1.Location == 'UK']

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
9,22933091,Chef de Partie Award Winning Dining Live In ...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,18000,caterer.com,20120814T000000,20120828T000000
12,23530231,Lead Engineers (Stress),UK,not available,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,20121113T120000,20130211T120000
13,24104334,"Relief Chef de Partie Croydon, Surrey Live in",UK,not available,not available,Towngate Personnel,Hospitality & Catering Jobs,17280,caterer.com,20131029T000000,20131128T000000
26,27739522,Welwyn Chef de Partie does it get any better t...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,18000,caterer.com,20130106T120000,20130307T120000
27,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,18996,caterer.com,20120320T120000,20120403T120000
30,29650985,Fine Dining Chefs for rosette restaurants up ...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,24000,caterer.com,20131205T150000,20140104T150000
31,30192171,Web Developer,UK,not available,permanent,Indigo 21 Ltd,IT Jobs,35004,cv-library.co.uk,20130305T000000,20130504T000000
39,31989124,Mechanical Engineer Design and Substantiation,UK,not available,permanent,Gregory Martin International,Engineering Jobs,35004,cv-library.co.uk,20131018T120000,20131117T120000
42,32233421,Principle Mechanical Engineer,UK,not available,permanent,Rullion Engineering Ltd,Engineering Jobs,48504,cv-library.co.uk,20130816T120000,20131114T120000
43,32417995,Chef de Partie Award Winning Fine Dining Rest...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,20496,caterer.com,20131016T150000,20131030T150000
44,32621550,Chef De Partie up to **** Tips Ipswich Outskirts,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,17004,caterer.com,20131125T120000,20131225T120000
48,33469049,IT Recruitment Consultant,UK,not available,permanent,Code Blue Recruitment,IT Jobs,24996,cv-library.co.uk,20130323T120000,20130621T120000
52,34558621,Chef De Partie Norfolk Live In up to **** Tips,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,17496,caterer.com,20130803T150000,20131002T150000
54,34558938,Pastry Chef/Baker artisan bakery Suffolk Coast,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,21000,caterer.com,20120416T150000,20120615T150000
55,34790490,Java Developer,UK,not available,permanent,NaN,IT Jobs,33996,theitjobboard.co.uk,20120203T120000,20120304T120000
79,41406133,IT Support Technician,UK,not available,permanent,MatchBox Recruiting Ltd,IT Jobs,23496,cv-library.co.uk,20121210T150000,20130310T150000
80,41783094,Chef de Partie High Volume Banqueting Departm...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,22500,caterer.com,20130220T150000,20130322T150000
81,41879934,Future Leaders Development Programme Technology,UK,not available,permanent,NaN,IT Jobs,36000,theitjobboard.co.uk,20120815T150000,20121014T150000
85,43196787,Chef de Partie High Volume Conference Centre ...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,20004,caterer.com,20120203T120000,20120304T120000
88,43611718,"SALES ENGINEER MIDLANDS, CAMBRIDGESHIRE, NORT...",UK,not available,permanent,OP,Sales Jobs,30996,cv-library.co.uk,20120919T150000,20121218T150000
90,43611886,PROPERTY BUYER / TELESALES,UK,not available,permanent,Serata Search Ltd,Sales Jobs,20496,cv-library.co.uk,20130607T120000,20130806T120000
94,44452543,Sous Chef Straight Shifts Bury St Edmunds up t...,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,23004,caterer.com,20131001T120000,20131031T120000
96,45057486,Manager,UK,not available,not available,Clear Selection,Hospitality & Catering Jobs,24996,caterer.com,20130527T150000,20130626T150000
104,46541847,Chef de Partie Accredited Boutique Hotel Sha...,UK,not available,not available,Chef Results,Hospitality & Catering Jobs,15996,caterer.com,20120517T000000,20120531T000000
105,46626508,Support Worker Job Chepstow,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,12348,careworx.co.uk,20130407T000000,20130507T000000
106,46626509,Support Worker Job Abergavenny,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,14256,careworx.co.uk,20130614T000000,20130912T000000
110,46626537,RGN Registered Nurse Job Southampton,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,20130824T120000,20131122T120000
118,46626571,RGN Registered Nurse Job Durham,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,27000,careworx.co.uk,20120407T120000,20120507T120000
127,46626838,Senior Care Assistant North Tyneside,UK,not available,not available,NaN,Healthcare & Nursing Jobs,14880,careworx.co.uk,20131021T000000,20131104T000000
135,46626893,Deputy Nursing Home Manager Job Southampton,UK,full_time,not available,NaN,Healthcare & Nursing Jobs,25440,careworx.co.uk,20120730T120000,20120829T120000
...,...,...,...,...,...,...,...,...,...,...,...
24998,69219824,ASD Teaching Assistant,UK,full_time,permanent,Teaching Personnel Ltd London CR,Teaching Jobs,13200,fish4.co.uk,20120215T120000,20120316T120000
24999,69219830,Primary Teacher South West London,UK,full_time,permanent,Teaching Personnel Ltd London CR,Teaching Jobs,28800,fish4.co.uk,20120826T120000,20121124T120000
25000,69219927,Teacher Assistant in south east London seconda...,UK,full_time,permanent,Career Teachers,Teaching Jobs,17400,fish4.co.uk,20130109T000000,20130409T000000
25002,69219932,Insurance Sales Executive Dunstable,UK,full_time,permanent,Additional Resources,Sales Jobs,21504,fish4.co.uk,20130326T120000,20130624T120000
25004,69220056,Credit Risk Modellers Consultancy Roles SAS,UK,full_time,permanent,Aspire Data Recruitment,IT Jobs,60000,fish4.co.uk,20120411T150000,20120610T150000
25006,69220200,Early Years Lead Teacher,UK,full_time,permanent,Edustaff,Teaching Jobs,40368,fish4.co.uk,20130606T150000,20130904T150000
25007,69220230,LONG TERM ROLES STILL AVAILABLE IN SOUTH LONDON,UK,full_time,permanent,Career Teachers,Teaching Jobs,32400,fish4.co.uk,20130620T000000,20130819T000000
25014,69220916,Assistant Finance Business Manager,UK,full_time,permanent,CY Executive Resourcing,Accounting & Finance Jobs,54000,fish4.co.uk,20120726T150000,20121024T150000
25016,69221014,Hospitality / Front Of House NVQ Assessor Dorset,UK,full_time,permanent,Additional Resources,Teaching Jobs,20004,fish4.co.uk,20130329T120000,20130528T120000
25017,69221053,Windows Systems Administrator / Finance / Secu...,UK,full_time,permanent,OHO Group,IT Jobs,52500,fish4.co.uk,20120905T120000,20121005T120000
25018,69221162,Quant Analysts Required High Earning Potential,UK,full_time,permanent,OHO Group,IT Jobs,87504,fish4.co.uk,20130620T120000,20130918T120000
25025,69221374,SALES NEW BUSINESS,UK,full_time,permanent,Candidate Source Ltd,Sales Jobs,18504,fish4.co.uk,20120325T000000,20120623T000000
25026,69221393,Bookkeeper / Accounts Assistant Music,UK,full_time,permanent,Sauce Recruitment Ltd,Accounting & Finance Jobs,24996,fish4.co.uk,20120616T150000,20120914T150000
25027,69221532,Test Engineer (BSR),UK,full_time,permanent,RLE International,Engineering Jobs,38496,fish4.co.uk,20120615T120000,20120814T120000
25029,69221582,Electronics Engineer (Graduate to Snr),UK,full_time,permanent,Enterprise Recruitment Ltd,Engineering Jobs,30996,fish4.co.uk,20130523T000000,20130622T000000
25032,69221776,MultiChannel Finance Manager,UK,full_time,permanent,Firefly Human Capital,Accounting & Finance Jobs,84996,fish4.co.uk,20130217T150000,20130319T150000
25035,69224868,Hardware Design Engineer Digital and Analogue ...,UK,full_time,permanent,Teambuilder Recruitment Ltd,Engineering Jobs,33504,fish4.co.uk,20130123T000000,20130423T000000
25036,69225891,Mechatronics Product Engineer,UK,full_time,permanent,Forest Personnel,Engineering Jobs,35004,fish4.co.uk,20121130T150000,20130228T150000
25041,69228388,"Jnr Mid, Mobile Games Developer, ****K, London",UK,full_time,permanent,Monarch Recruitment,IT Jobs,27504,fish4.co.uk,20120422T120000,20120621T120000
25043,69228449,Interim Senior Year End Accountant,UK,full_time,permanent,Finegreen Associates,Accounting & Finance Jobs,90000,fish4.co.uk,20130508T120000,20130806T120000
25048,69228674,RF Design and Customer Support,UK,full_time,permanent,European Recruitment,IT Jobs,82560,fish4.co.uk,20120605T000000,20120804T000000
25049,69228685,Technical Sales Engineer Deburring tools,UK,full_time,permanent,ETS Technical Selection,IT Jobs,32496,fish4.co.uk,20131128T150000,20140127T150000
25050,69228842,Senior Internal Audior,UK,full_time,permanent,Hydrogen UK Limited,Accounting & Finance Jobs,47496,fish4.co.uk,20130706T120000,20130904T120000
25051,69228969,"Business Development, P/T F/T, Flexible hours,...",UK,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,37500,fish4.co.uk,20120617T150000,20120717T150000
25053,69229283,Design and Applications Engineer,UK,full_time,permanent,Interaction Recruitment plc,Engineering Jobs,39996,fish4.co.uk,20121010T000000,20130108T000000
25057,69229454,Education and Training Manager,UK,full_time,permanent,ATOM Education Limited,Teaching Jobs,45996,fish4.co.uk,20120806T150000,20120905T150000
25062,69229778,Junior Drainage Engineer PDS Microdrainage,UK,full_time,permanent,Hays TCE Jobs,Engineering Jobs,20004,fish4.co.uk,20131207T000000,20140307T000000
25063,69229815,Head of Research Development,UK,full_time,permanent,Hays North West,IT Jobs,48504,fish4.co.uk,20120812T000000,20121110T000000
25064,69229843,"Performance Test Consultant SoapUI, LoadUI",UK,full_time,permanent,Monarch Recruitment,IT Jobs,15120,fish4.co.uk,20130627T120000,20130727T120000
25066,69229954,Fibre Laser Physicists / Engineers (Graduate t...,UK,full_time,permanent,RE & M Ltd,IT Jobs,32496,fish4.co.uk,20120709T120000,20121007T120000

Problem of location seems more complicated:
 - some records has just no detailed `Location` but just "UK"(default filling for none)
 - some has the location data but it is included in the `Title` value and these record also just have the value of `Location` as "UK"

All the other locations seem to be all in the UK, there can be inconsistence the Column of `Location`

### ContractType

In [15]:
#check unique values of the columns
df1.ContractType.unique()

array(['not available', 'full_time', 'part_time'], dtype=object)

According to dta dataset description, the 'not available' should be replaced by 'non_specified'

In [16]:
df1.ContractType.replace('not available','non_specified',inplace=True)

### ContractTime

In [17]:
#check unique values
df1.ContractTime.unique()

array(['permanent', 'not available', 'contract'], dtype=object)

In [18]:
df1.ContractTime.replace('not available','non_specified',inplace=True)

### Company

In [19]:
df1.Company.value_counts()

UKStaffsearch                         248
CVbrowser                             170
Randstad                              169
JOBG8                                 159
Matchtech Group plc.                  150
Chef Results                          137
Penguin Recruitment                   134
Hays                                  115
London4Jobs                           112
COREcruitment International           111
JAM Recruitment Ltd                   109
Computer People                        99
Clear Selection                        92
Monarch Recruitment                    89
Towngate Personnel                     79
Cherryred Recruitment                  69
Senitor Associates                     67
Modis                                  62
Support Services Group                 62
Capita Resourcing                      62
Aspire Data Recruitment                61
Adecco                                 57
Populus Healthcare                     55
Idex Consulting                        55
Evolution Recruitment Solutions        55
Swiis Healthcare                       54
Bee Recruitment London Ltd             53
The Placement Group                    52
IC Software                            52
HCL Permanent                          51
                                     ...
Michael James Associates                1
Grayson Thermal Systems                 1
London   Public Sector                  1
Edissero Ltd                            1
SW6                                     1
Paradigm Recruitment Solutions Ltd      1
Kairos                                  1
JMA Network                             1
Discover Jobs                           1
Banzai People                           1
Pertemps Recruitment Partnership        1
Optimum Appointments                    1
JSM Specialist Services ltd             1
Employment Solutions Ltd                1
24/7 Recruitment                        1
Aeroconseil UK Ltd                      1
Corporate Handyman                      1
New Recruit  Ltd                        1
Palantir                                1
Home Care                               1
Direct Response                         1
Regard Recruitment                      1
Purple Cat Recruitment                  1
Magnetic Recruitment                    1
SRS Consultancy Services Limited        1
Apex Engineering Solutions Limited      1
Marcus Donald People Ltd                1
VILLIERS HIGH SCHOOL                    1
International Brokerage                 1
Axon Resourcing Limited                 1
Name: Company, Length: 4879, dtype: int64

Seems there are some minor irregularities like the inconsitent use of "Limited","Ltd" and "LTD".

In [20]:
# unify all occurences of Ltd

### Company
It is already discovered before that there is large amount of missing values in the `Company` column

In [ ]:
df1.Company

### Category

In [22]:
df1.Category.value_counts()

IT Jobs                             7085
Healthcare & Nursing Jobs           4334
Engineering Jobs                    3458
Accounting & Finance Jobs           3099
Sales Jobs                          2609
Hospitality & Catering Jobs         2124
Teaching Jobs                       1378
PR, Advertising & Marketing Jobs     990
Name: Category, dtype: int64

- No invalid values and no redundance
- Also no inconsistent represnetation of same value

### Salary

In [23]:
df1["Salary per annum"].unique()

array(['24996', '30000', '27504', ..., '17K', '18264', '40368'], dtype=object)

There are inconsiten representations of the salary

In [24]:
p1 = '^\d+$'

In [25]:
non_numeric_salary = df1['Salary per annum'].apply(lambda x: False if re.match(p1,x) else True )

In [26]:
inconsis_salary =df1['Salary per annum'][non_numeric_salary];inconsis_salary.value_counts()

32K                                        7
37996.2 - 41995.8                          5
38K                                        5
35K                                        5
33253.799999999996 - 36754.200000000004    5
30871.199999999997 - 34120.8               5
45K                                        5
28500.0 - 31500.0                          4
26K                                        4
24K                                        4
42750.0 - 47250.0                          4
47K                                        4
19K                                        4
30K                                        4
40K                                        4
20K                                        4
23K                                        4
55K                                        3
50K                                        3
15196.199999999999 - 16795.8               3
27553.8 - 30454.2                          3
26128.8 - 28879.2                          3
23746.199999999997 - 26245.800000000003    3
52246.2 - 57745.8                          3
21K                                        3
25K                                        3
52K                                        3
28K                                        3
22321.2 - 24670.8                          3
22K                                        2
                                          ..
61753.799999999996 - 68254.2               1
21819.6 - 24116.4                          1
42K                                        1
68947.2 - 76204.8                          1
49020.0 - 54180.0                          1
14250.0 - 15750.0                          1
48K                                        1
41325.0 - 45675.0                          1
78K                                        1
35146.2 - 38845.8                          1
54K                                        1
15K                                        1
71K                                        1
30403.8 - 33604.200000000004               1
47503.799999999996 - 52504.200000000004    1
24646.8 - 27241.2                          1
60K                                        1
85K                                        1
14614.8 - 16153.2                          1
85500.0 - 94500.0                          1
29446.199999999997 - 32545.800000000003    1
21375.0 - 23625.0                          1
39421.2 - 43570.8                          1
15891.599999999999 - 17564.4               1
36480.0 - 40320.0                          1
18525.0 - 20475.0                          1
35625.0 - 39375.0                          1
28021.199999999997 - 30970.800000000003    1
41040.0 - 45360.0                          1
19243.2 - 21268.8                          1
Name: Salary per annum, Length: 101, dtype: int64

There seems to have two type of invalid representations:
1. "90K"
2. "21819.6 - 24116.4"

**For the first one we just transfer the str representation to int.**

**For the second one we pick the mean of the range and round them to the nearest integer.**

In [27]:
#design the regex patterns

In [28]:
numeric_salary = df1['Salary per annum'][~non_numeric_salary];numeric_salary

0        24996
1        30000
2        30000
3        27504
4        24996
5        21000
6        37500
7        15996
8        21996
9        18000
10       39504
11       33504
12       39504
13       17280
14       41496
15       31500
16       32496
17       24000
18       15996
19       26004
20       31500
21       30000
22       32496
23       45000
24       24996
25       21000
26       18000
27       18996
28       30000
29       48000
         ...
25047    52500
25048    82560
25049    32496
25050    47496
25051    37500
25052    18000
25053    39996
25054    27504
25055    54996
25056    25704
25057    45996
25058    45000
25059    42504
25060    32004
25061    45000
25062    20004
25063    48504
25064    15120
25065    66000
25066    32496
25067    32004
25068    24000
25069    52500
25070    47496
25071    47496
25072    39996
25073    32004
25074    42996
25075    67500
25076    38496
Name: Salary per annum, Length: 24877, dtype: object

In [30]:
int_salary = numeric_salary.astype(int) <= 0
int_salary.sum()

0

Thia proves there is not semantic errors in the row of `Salary per annum`

### SourceName

In [31]:
df1.SourceName.value_counts()

totaljobs.com                     5335
cv-library.co.uk                  4207
careworx.co.uk                    1777
cwjobs.co.uk                      1202
staffnurse.com                    1182
jobsite.co.uk                     1110
caterer.com                       1047
fish4.co.uk                        757
theitjobboard.co.uk                755
jobserve.com                       717
jobs.catererandhotelkeeper.com     640
planetrecruit.com                  460
rengineeringjobs.com               363
salestarget.co.uk                  355
britishjobsonthe.net               332
jobs.guardian.co.uk                301
ukstaffsearch.com                  248
hays.co.uk                         247
strike-jobs.co.uk                  221
technojobs.co.uk                   219
gojobsearch.co.uk                  187
justengineers.net                  179
cvbrowser.com                      170
cityjobs.com                       159
jobg8.com                          145
careerbuilder.com                  137
jobsineducation.co.uk              129
jobs.newstatesman.com              115
thecareerengineer.com              113
london4jobs.co.uk                  112
                                  ...
randstadfp.com                      29
mediaweekjobs.co.uk                 27
nurseryworldjobs.co.uk              26
juniorbroker.com                    23
actuaryjobs.co.uk                   21
jobsincredit.com                    21
simplymarketingjobs.co.uk           20
OilCareers.com                      17
emptylemon.co.uk                    16
jobs.chinwag.com                    14
jobs.planningresource.co.uk         14
eventjobsearch.co.uk                13
ifaonlinejobs.co.uk                 13
rcnbulletinjobs.co.uk               13
frontofficebanking.com              11
legalprospects.com                   8
renewablescareers.com                8
wikijob.co.uk                        5
jobsinsocialwork.co.uk               4
3desk.com                            4
jobs.perl.org                        3
cardandpaymentjobs.com               2
workthing.com                        2
scotsman.com                         2
grb.uk.com                           1
monashstudent                        1
jobs.gponline.com                    1
thegraduate.co.uk                    1
admin@caterer.com                    1
jobcareer                            1
Name: SourceName, Length: 90, dtype: int64

Seems no explicit issues.

### OpenData and CloseDate
We assume at the first place that the date form is Y-M-D

In [32]:
df1.OpenDate.head()

0    20121103T000000
1    20130108T150000
2    20130726T150000
3    20121214T000000
4    20131025T000000
Name: OpenDate, dtype: object

The result of above cell proves our assumption, so we can start invetigate whether there are issues in the two columns for date.

In [35]:
p = '\d{4}(\d{2})(\d{2}).(\d{2})(\d{2})(\d{2})'
def is_valid_date(d):
    month_invalid = int(re.match(p,d).group(1)) > 12 
    day_invalid = int(re.match(p,d).group(2)) > 31 #keep it simple fallacious for the moment, for simplicity just assume each month has 31 days
    hr_invalid = int(re.match(p,d).group(3)) > 23
    min_invalid = int(re.match(p,d).group(4)) > 59
    second_invalid = int(re.match(p,d).group(5)) > 59
    if month_invalid or day_invalid or hr_invalid or min_invalid or second_invalid:
        return d
    else:
        return np.nan
    
invalid_open_date = df1.OpenDate.apply(is_valid_date)
invalid_close_date = df1.CloseDate.apply(is_valid_date)

In [36]:
#test
print(invalid_open_date.dropna().shape, invalid_close_date.dropna().shape)

(10,) (0,)

indicates there are 10 invalid date 

inspect the invalid values

In [37]:
invalid_series = invalid_open_date.dropna().values

In [38]:
df1[df1.OpenDate.isin(invalid_series)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
1102,51593546,Community Nurse South London,The City,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,29004,careworx.co.uk,20131803T120000,20130417T120000
2104,61282006,Deputy Home Care Manager,Barnet,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,20004,careworx.co.uk,20132606T000000,20130710T000000
2839,64796836,"Technical Tester Manual, Automation, Java, SQ...",London,non_specified,permanent,NaN,IT Jobs,19500,theitjobboard.co.uk,20122003T150000,20120519T150000
5707,66935867,"Technical Sales Manager, Pigments Fillers to S...",UK,non_specified,non_specified,Wallace Hind Selection,Sales Jobs,45000,salestarget.co.uk,20121512T150000,20130213T150000
10881,68257270,Desire a Change? London ****K Basic ****K OTE,South East London,non_specified,non_specified,Zest 2 Recruitment,Sales Jobs,13500,salestarget.co.uk,20133004T150000,20130530T150000
11948,68350622,Mechanical Design Engineer (HVAC),Gainsborough,non_specified,permanent,NaN,IT Jobs,39996,technojobs.co.uk,20131908T000000,20131117T000000
15353,68671948,Investment Analyst,Cheshire,non_specified,permanent,Idex Consulting,Accounting & Finance Jobs,24000,totaljobs.com,20121406T120000,20120912T120000
22918,69072305,Scheme Actuary,Hampshire,non_specified,permanent,Sammons Pensions,Accounting & Finance Jobs,54996,professionalpensionsjobs.com,20131509T000000,20131114T000000
23007,69079402,Naval architect/structural engineer,Newcastle Upon Tyne,non_specified,permanent,Workshop Recruitment,Engineering Jobs,33504,cv-library.co.uk,20132901T150000,20130429T150000
23169,69080910,MS (Elec biased) Maintenance Engineer / Superv...,Harrogate,non_specified,permanent,Jenrick Engineering,Engineering Jobs,17004,cv-library.co.uk,20132108T120000,20131119T120000

It seems though these OpenDates are invalid, if the month and day get reversed they are all valid date.

Thus we decide to reverse them.

In [ ]:
df1[df1.OpenDate.isin(invalid_series)]['OpenDate'].apply(lambda x: re.sub(,,x))# need close look at re.sub

In [40]:
df1 = df1[~df1.OpenDate.isin( invalid_series)]

In [42]:
#transform the string representation of date to type datetime for more flexibility
df1[['OpenDate','CloseDate']] = df1[['OpenDate','CloseDate']].apply(lambda x: pd.to_datetime(x))

In [46]:
df1[~df1.Company.notna()]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
51,34479775,Credit Controller,The City,non_specified,permanent,NaN,Accounting & Finance Jobs,24000,hays.co.uk,2012-03-26 00:00:00,2012-04-25 00:00:00
55,34790490,Java Developer,UK,non_specified,permanent,NaN,IT Jobs,33996,theitjobboard.co.uk,2012-02-03 12:00:00,2012-03-04 12:00:00
66,38209887,Transaction Services Executive,Bristol,non_specified,permanent,NaN,Accounting & Finance Jobs,37500,hays.co.uk,2012-03-15 15:00:00,2012-05-14 15:00:00
67,38209888,Audit Executive,Bristol,non_specified,permanent,NaN,Accounting & Finance Jobs,33996,hays.co.uk,2012-06-10 12:00:00,2012-09-08 12:00:00
68,38209893,Audit Assistant Manager,Bristol,non_specified,permanent,NaN,Accounting & Finance Jobs,35004,hays.co.uk,2012-09-13 12:00:00,2012-11-12 12:00:00
70,38758190,Account Executive,Basingstoke,non_specified,permanent,NaN,IT Jobs,18000,hays.co.uk,2012-03-14 12:00:00,2012-06-12 12:00:00
78,40880208,Compliance Manager,Salisbury,non_specified,permanent,NaN,Accounting & Finance Jobs,37500,hays.co.uk,2012-11-19 12:00:00,2013-01-18 12:00:00
81,41879934,Future Leaders Development Programme Technology,UK,non_specified,permanent,NaN,IT Jobs,36000,theitjobboard.co.uk,2012-08-15 15:00:00,2012-10-14 15:00:00
105,46626508,Support Worker Job Chepstow,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,12348,careworx.co.uk,2013-04-07 00:00:00,2013-05-07 00:00:00
106,46626509,Support Worker Job Abergavenny,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,14256,careworx.co.uk,2013-06-14 00:00:00,2013-09-12 00:00:00
107,46626511,Staff Nurse Job Berkshire,Berkshire,full_time,non_specified,NaN,Healthcare & Nursing Jobs,22560,careworx.co.uk,2012-10-20 12:00:00,2012-11-19 12:00:00
108,46626514,Pharmacy Technician Job Norwich,Norwich,full_time,non_specified,NaN,Healthcare & Nursing Jobs,18000,careworx.co.uk,2012-08-19 15:00:00,2012-09-18 15:00:00
109,46626520,Support Worker Job Cardiff,Cardiff,full_time,non_specified,NaN,Healthcare & Nursing Jobs,12552,careworx.co.uk,2013-06-08 15:00:00,2013-09-06 15:00:00
110,46626537,RGN Registered Nurse Job Southampton,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,2013-08-24 12:00:00,2013-11-22 12:00:00
111,46626546,RGN Nurse Job Bury St Edmunds,Bury St. Edmunds,full_time,non_specified,NaN,Healthcare & Nursing Jobs,23808,careworx.co.uk,2012-03-12 15:00:00,2012-05-11 15:00:00
112,46626547,Scrub Nurse Job Braintree,Braintree,full_time,non_specified,NaN,Healthcare & Nursing Jobs,30000,careworx.co.uk,2013-04-19 12:00:00,2013-07-18 12:00:00
113,46626549,Healthcare Assistant Job Nottingham,Nottingham,full_time,non_specified,NaN,Healthcare & Nursing Jobs,18000,careworx.co.uk,2012-07-23 15:00:00,2012-08-22 15:00:00
114,46626555,Consultant Clinical Psychologist Job Norwich,Norwich,full_time,non_specified,NaN,Healthcare & Nursing Jobs,50004,careworx.co.uk,2012-03-14 00:00:00,2012-04-13 00:00:00
115,46626557,Operating Department Practitioner ODP Jobs Not...,Nottingham,full_time,non_specified,NaN,Healthcare & Nursing Jobs,26004,careworx.co.uk,2012-10-16 00:00:00,2012-11-15 00:00:00
116,46626559,RGN Prison Nurse Job Staffordshire,Staffordshire,full_time,non_specified,NaN,Healthcare & Nursing Jobs,27504,careworx.co.uk,2012-07-19 15:00:00,2012-10-17 15:00:00
117,46626566,Clinical Research Nurse Job Nottingham,Nottingham,full_time,non_specified,NaN,Healthcare & Nursing Jobs,30000,careworx.co.uk,2013-08-02 00:00:00,2013-10-01 00:00:00
118,46626571,RGN Registered Nurse Job Durham,UK,full_time,non_specified,NaN,Healthcare & Nursing Jobs,27000,careworx.co.uk,2012-04-07 12:00:00,2012-05-07 12:00:00
119,46626573,Prison Nurse Practitioner Jobs Nottinghamshire,Nottinghamshire,full_time,non_specified,NaN,Healthcare & Nursing Jobs,39996,careworx.co.uk,2013-04-20 15:00:00,2013-06-19 15:00:00
120,46626574,Care Assistants and Support Workers Job Glasgow,Glasgow,full_time,non_specified,NaN,Healthcare & Nursing Jobs,25920,careworx.co.uk,2013-09-29 15:00:00,2013-11-28 15:00:00
121,46626799,Saturday only Night Nurse Job Winchester,Winchester,part_time,non_specified,NaN,Healthcare & Nursing Jobs,25272,careworx.co.uk,2012-01-14 00:00:00,2012-03-14 00:00:00
122,46626802,Nursing Home Staff Nurse Job Surrey,Surey,full_time,non_specified,NaN,Healthcare & Nursing Jobs,23040,careworx.co.uk,2013-05-12 12:00:00,2013-08-10 12:00:00
123,46626826,Substance Misuse Nurse Kent,Kent,full_time,non_specified,NaN,Healthcare & Nursing Jobs,30504,careworx.co.uk,2013-11-22 00:00:00,2014-01-21 00:00:00
124,46626831,Registered Mental Health Nurse (RMN) Durham,Durham,part_time,non_specified,NaN,Healthcare & Nursing Jobs,29760,careworx.co.uk,2013-10-27 15:00:00,2013-11-10 15:00:00
125,46626832,Registered Mental Health Nurse (RMN) Sunderland,Sunderland,part_time,non_specified,NaN,Healthcare & Nursing Jobs,29760,careworx.co.uk,2013-07-01 12:00:00,2013-08-30 12:00:00
126,46626833,Registered General Nurse (RGN) Sunderland,Sunderland,part_time,non_specified,NaN,Healthcare & Nursing Jobs,28800,careworx.co.uk,2013-04-24 00:00:00,2013-05-08 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
23862,69166844,Nurse : Surgical Staff Nurse,Oxfordshire,non_specified,permanent,NaN,Healthcare & Nursing Jobs,27996,jobs4medical.co.uk,2012-07-01 12:00:00,2012-08-30 12:00:00
23863,69166851,Nurse : Deputy Nursing Home Manager ****,Suffolk,non_specified,permanent,NaN,Healthcare & Nursing Jobs,27036,jobs4medical.co.uk,2013-03-30 00:00:00,2013-06-28 00:00:00
23864,69167060,Nurse : Registered General Nurse Jobs in Leigh...,Bedfordshire,non_specified,non_specified,NaN,Healthcare & Nursing Jobs,26316,jobs4medical.co.uk,2013-06-13 00:00:00,2013-07-13 00:00:00
24582,69189730,Corporate Tax Compliance Senior Manager,Birmingham,non_specified,permanent,NaN,Accounting & Finance Jobs,62496,hays.co.uk,2012-09-02 15:00:00,2012-12-01 15:00:00
24586,69190364,Inclusion Support Assistant,Newcastle Upon Tyne,full_time,contract,NaN,Teaching Jobs,14412,fish4.co.uk,2012-03-16 00:00:00,2012-06-14 00:00:00
24592,69190507,Junior Database Administrator Holton St Mary,Colchester,full_time,permanent,NaN,IT Jobs,15504,fish4.co.uk,2013-05-22 12:00:00,2013-06-21 12:00:00
24596,69190934,Graphics Technician,London,full_time,permanent,NaN,IT Jobs,28548,fish4.co.uk,2012-01-29 12:00:00,2012-04-28 12:00:00
24629,69191688,Accounts Assistant (MultiLingual),Glasgow,full_time,contract,NaN,Accounting & Finance Jobs,18504,fish4.co.uk,2013-11-20 00:00:00,2013-12-20 00:00:00
24631,69191782,Domestic Violence/Abuse Support Worker,Liverpool,full_time,permanent,NaN,Healthcare & Nursing Jobs,19704,fish4.co.uk,2013-10-16 12:00:00,2014-01-14 12:00:00
24633,69192290,Progress Webspeed Developer,High Wycombe,full_time,permanent,NaN,IT Jobs,38004,fish4.co.uk,2013-01-03 00:00:00,2013-04-03 00:00:00
24634,69192326,Property Sales Consultant / Senior Sales Negot...,Manchester,full_time,permanent,NaN,Sales Jobs,17004,fish4.co.uk,2013-11-17 15:00:00,2014-02-15 15:00:00
24635,69192551,FT Skilled Senior Carers Days & Nights,Southampton,full_time,permanent,NaN,Healthcare & Nursing Jobs,15408,fish4.co.uk,2012-09-23 00:00:00,2012-11-22 00:00:00
24653,69193530,**** x Caretaker,Manchester,full_time,permanent,NaN,Hospitality & Catering Jobs,18012,fish4.co.uk,2012-12-21 15:00:00,2013-01-20 15:00:00
24686,69196406,APPOINTMENT OF INDEPENDENT MEMBERS TO CARDIFF ...,Cardiff,part_time,non_specified,NaN,Healthcare & Nursing Jobs,15936,fish4.co.uk,2012-10-24 12:00:00,2012-11-07 12:00:00
24723,69200075,Trainee Marketing Advisors,Edinburgh,full_time,permanent,NaN,Hospitality & Catering Jobs,18504,fish4.co.uk,2012-08-21 00:00:00,2012-10-20 00:00:00
24752,69203584,Dividends Analyst,Glasgow,non_specified,non_specified,NaN,Accounting & Finance Jobs,20160,fish4.co.uk,2013-03-03 12:00:00,2013-03-17 12:00:00
24753,69203586,Settlements Analyst,Glasgow,non_specified,non_specified,NaN,Accounting & Finance Jobs,23040,fish4.co.uk,2012-06-05 15:00:00,2012-07-05 15:00:00
24754,69203620,Client Admin Support,Dorking,full_time,permanent,NaN,Accounting & Finance Jobs,16752,fish4.co.uk,2013-06-24 12:00:00,2013-07-24 12:00:00
24825,69208639,Resourcing Coordinator (Full or Part Time),Salisbury,full_time,contract,NaN,Accounting & Finance Jobs,17004,fish4.co.uk,2012-07-15 00:00:00,2012-09-13 00:00:00
24921,69215963,Solar Sales Consultant Inverness,Inverness,full_time,permanent,NaN,Sales Jobs,50004,fish4.co.uk,2013-03-03 15:00:00,2013-06-01 15:00:00
24923,69216134,Skilled Specialist Chef,Aberdeen,full_time,permanent,NaN,Hospitality & Catering Jobs,18504,fish4.co.uk,2012-08-01 12:00:00,2012-09-30 12:00:00
24924,69216174,Project Manager (Supported Living),Derby,full_time,permanent,NaN,Healthcare & Nursing Jobs,23004,fish4.co.uk,2013-11-26 15:00:00,2014-02-24 15:00:00
25008,69220336,Trainer NVQ Level 3 BIT,Bridgend,full_time,permanent,NaN,Teaching Jobs,27504,fish4.co.uk,2013-08-21 12:00:00,2013-10-20 12:00:00
25009,69220384,Appointment Maker Temporary / Permanent,Bury,full_time,permanent,NaN,Sales Jobs,12000,fish4.co.uk,2012-02-18 00:00:00,2012-05-18 00:00:00
25012,69220596,Promotions Sales Manager Short Term,Reigate,full_time,permanent,NaN,Sales Jobs,15996,fish4.co.uk,2012-08-12 15:00:00,2012-10-11 15:00:00
25037,69227935,Community Support Worker/ Care Assistant/ Supp...,Chipping Norton,full_time,contract,NaN,Healthcare & Nursing Jobs,15360,fish4.co.uk,2013-09-28 15:00:00,2013-12-27 15:00:00
25038,69228189,"Canvasser, Field Marketing And Sales Promotor",Leeds,full_time,permanent,NaN,"PR, Advertising & Marketing Jobs",22800,fish4.co.uk,2013-09-23 12:00:00,2013-11-22 12:00:00
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,2013-07-08 12:00:00,2013-06-08 12:00:00
25040,69228214,MECHANICAL FITTER / TECHNICIAN,St. Helens,full_time,permanent,NaN,Engineering Jobs,24996,fish4.co.uk,2012-10-23 00:00:00,2013-01-21 00:00:00
25073,69247270,Tax Assistant Manager,Liverpool,non_specified,permanent,NaN,Accounting & Finance Jobs,32004,michaelpage.co.uk,2012-07-11 12:00:00,2012-10-09 12:00:00

## 3. Summary
Give a short summary of your work done above, such as your findings.