# FIT5196 Task 2 in Assessment 2
#### Student Name: Boyu Zhang
#### Student ID: 28491300

Date: XX/XX/XXXX

Version: 1.0

Environment: Python 3.6 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment here, e.g.,:
* pandas (for dataframe, included in Anaconda Python ) 
* re (for regular expression, included in Anaconda Python 3.6) 
* numpy (for numpy array, included in Anaconda Python 3.6)

## 1.  Import libraries

In [3]:
# Code to import libraries as you need in this assessment, e.g.,
import pandas as pd
import re
import editdistance

## 2. Load datasets and exploration

In [4]:
df2 = pd.read_csv('./Input/dataset2_integration.csv')
df1 = pd.read_csv('./dataset1_solution.csv')

In [52]:
df1.columns

Index(['Id', 'Source Name', 'Title', 'Location', 'ContractType',
       'ContractTime', 'Company', 'Category', 'Salary per month', 'OpenDate',
       'CloseDate'],
      dtype='object')

In [53]:
df2.columns

Index(['Id', 'Source Name', 'Title', 'Location', 'Contract Type',
       'Contract Time', 'Company', 'Category', 'Salary per month', 'OpenDate',
       'CloseDate'],
      dtype='object')

It seems there are two schema level conflicst between the two datasets:
1. There are attributes with same semantics that are not aligned
2. The `Salary` column is inconsistent

## 3. Integrate Datasets

### 3.1 Resolve schema conflicts

First we realign the order of columns in dataset1 and change the unit of `Salary` column

In [55]:
#unify unit of salary and re-align columns
new_salary =df1['Salary per annum'].astype(int)//12
source = df1.SourceName
df1.drop(columns='Salary per annum',inplace=True)
df1.drop(columns='SourceName',inplace=True)
df1.insert(7,column='Salary per month',value=new_salary)
df1.insert(1,column="Source Name",value=source)
df1.rename(columns={'Location':'location','ContractType':'Contract Type','ContractTime':'Contract Time'},inplace=True)

Concatenate the two dataset

In [56]:
df = pd.concat([df2,df1])

In [57]:
df.head()

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292,2012-02-22 00:00:00,2012-04-22 00:00:00

## 4. Summary
Give a short summary of your work done above, such as your findings.

## Potential integration issue at first glance:
- Different representation of `Contract Type` ad `Contract Time` in dataset1 and dataset2
- Different unit for `Salary`
- duplicated records(can be solved only when all format and units are uniformed first)