In [51]:
import pandas as pd
from pdftables import get_tables
import re

In [2]:
pdfFile='./Input/health.pdf'
pdfObj = open(pdfFile, 'rb')
tables = get_tables(pdfObj)

In [3]:
# exclude the headers to just include the country-records
for table in  tables:
    table[:] = table[5:]

In [4]:
for table in tables:
    for row in table[:5]:
        print(row)
    print('>>>>>>>')

['Afghanistan', '63', '89', '53', '3956', '33', '74', '73', '65', '60', '62', '39', '65', '65', '0', '65', '65', '62', '46', '63', '5', '26']
['Albania', '91', '93', '90', '9898', '97', '99', '99', '98', '98', '96', '98', '98', '98', '0', '98', '92', '70x', '54x', '71x', '–', '–']
['Algeria', '93', '95', '89', '8790', '82', '99', '96', '91', '91', '94', '96', '91', '91', '0', '61', '92', '66', '25', '–', '–', '–']
['Andorra', '100', '100', '100', '100100', '100', '–', '99', '98', '98', '97', '90', '94', '98', '0', '92', '–', '–', '–', '–', '–', '–']
['Angola', '41', '63', '23', '3962', '21', '58', '79', '64', '66', '49', '26', '64', '64', '53', '58', '78', '49', '43', '51', '22', '31']
>>>>>>>
['Finland', '100', '100', '100', '99', '9999', '–', '99', '92', '92', '94', '85', '0', '92', '84', '87', '–', '–', '–', '–', '–', '–']
['France', '100', '100', '100', '99', '9999', '–', '99', '97', '97', '90', '79', '88', '96', '0', '91', '–', '–', '–', '–', '–', '–']
['Gabon', '88', '92', '59', '41', '4232', '94', '83', '75', '74', '64', '0', '75', '75', '0', '0', '90', '68', '26', '67', '39', '36']
['Gambia', '80', '88', '68', '42', '4635', '98', '99', '95', '95', '97', '79', '95', '95', '95', '95', '92', '68', '59', '65', '47', '69']
['Georgia', '93', '98', '87', '85', '9573', '98', '97', '92', '92', '93', '85', '92', '92', '75', '75', '–', '74x', '40x', '–', '–', '–']
>>>>>>>
['Netherlands', '100', '100', '100', '9898', '100', '–', '98', '95', '95', '94', '91', '93', '95', '0', '94', '–', '–', '–', '–', '–', '–']
['New Zealand', '100', '100', '100', '100100', '100', '–', '92', '92', '92', '92', '89', '92', '92', '66', '93', '–', '–', '–', '–', '–', '–']
['Nicaragua', '82', '97', '61', '7686', '63', '98', '99', '98', '99', '99', '0', '98', '98', '98', '98', '85', '58x', '65', '–', '–', '–']
['Niger', '46', '89', '36', '1344', '6', '77', '87', '67', '67', '74', '37', '67', '67', '61', '64', '85', '59', '41', '51', '20', '61']
['Nigeria', '67', '82', '54', '3339', '27', '64', '64', '49', '49', '51', '0', '49', '49', '0', '26', '63', '35', '34', '66', '44', '69']
>>>>>>>
['Uganda397332', '192817938978', '82', '82', '0', '78', '78', '07887', '80', '4781', '62', '78']
['Ukraine9897100', '969793754219', '56', '42', '31', '26', '47', '00–', '92', '59–', '–', '–']
['United Arab Emirates100100100', '100100100999999', '99', '99', '99', '99', '99', '9299–', '–', '––', '–', '–']
['United Kingdom100100100', '999999–9894', '94', '92', '89', '0', '94', '9092–', '–', '––', '–', '–']
['United Republic of Tanzania507937', '243717999997', '93', '90', '71', '97', '97', '969690', '55', '4550', '54', '66']
>>>>>>>

In [15]:
# function to generate the dict for DataFrame formation
def add_to_dict(table,data):
    for row in table:
        if row[0] == 'SUMMARY':
            break
        if row[0] != '':
            data[row[0]] = row[1:]

In [16]:
data1 = dict()
data2 = dict()
for table in tables[:3]:
    add_to_dict(table,data1)

add_to_dict(tables[3],data2)

**Better split all collumns first before store in DF!!**

In [28]:
#create DataFrame for the first 3 pages and the fourth page
df2 = pd.DataFrame(data2)
df1 = pd.DataFrame(data1)
df2 = df2.T
df1 = df1.T
df2 = df2.reset_index()
df1 = df1.reset_index() 
df1.rename(columns={'index':"Country Name"}, inplace=True)
df2.rename(columns={'index':"Country Name"}, inplace=True);

In [42]:
df1.shape

(188, 22)

### to do:
- split the two number in column **4 and 5**!
可以先在list整理好再放进DF；
新思路，不限是具体几个数字并在一起，遍历cell，每发现一个有效的最小单元就存一次。

In [44]:
df2.shape

(14, 12)

In [124]:
df1.iloc[:,4].apply(lambda x: True if len(x)>4 else False).value_counts()

False    177
True      11
Name: 3, dtype: int64

In [128]:
s = '100'
p1 = '(\d{2,3}?)(\d+$)'
p2 = '(\d{3})(\d+$)'
p3 = '(\d+)–'
p4 = '\d+'
re.match(p4,s).group(0)

'100'