In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': [1, 1, 2, 2],
                    'B': [1, 2, 3, 4],
                    'C': np.random.randn(4)})

In [6]:

df2 = df.groupby('A',as_index=False).agg('min')

In [12]:
df = pd.DataFrame([[1, 2], [1, 3], [5, 6]], columns=['A', 'B']);df

   A  B
0  1  2
1  1  3
2  5  6

In [18]:
df.groupby('A').filter(lambda x: x['B'].sum()>5)

   A  B
2  5  6